$accent: #fcd7b6;
$title: #234969;

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%dms-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dms-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dms-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{a}n(#{$numbers});
}