@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  
}

.menu {
  &__btn {
    display: none;    
  }
  &__list {
    display: flex;
    margin-left: 128px;
    padding-bottom: 3px;
  }
  &__list-item + .menu__list-item {
    margin-left: 34px;
  }
  &__list-link {
    color: $title;
    @extend %rubik-500;
    font-size: 15px;
  }
}

.user-nav {
  display: flex;
  margin-right: 14px; 
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 51px;
    height: 52px;
    background-color: #edf1f4;
    border-radius: 50%;
    transition: all 0.5s;
    &:hover {
      background-color: #a3bbc8;
      path {
        fill: #fff;
      }
    }
  }
  &__box {
    width: 178px;
    height: 51px;
    border-radius: 25px;
    margin: 0 21px;
    background-color: #fcd7b6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 9px;
      left: 88px;
      width: 1px;
      height: 32px;
      background-color: #fde7d3;
    }
  }
  &__box-link {
    position: relative;
  }
  &__num {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9px;
    right: -9px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #fff;
    font-size: 10px;
    @extend %dms-400;
  }
}

.footer {
  padding: 80px 35px 2px;
  @extend %rubik-400;
  color: #7b7b7b;
  font-size: 14px;
  line-height: 24px;
}

.footer-top {
  display: flex;
  padding-bottom: 75px;
  border-bottom: 1px solid #dae4e9;
  &__logo {
    display: block;
    margin-bottom: 26px;
  }
  &__contact {
    width: 200px;
    margin-right: 100px;
  }
  &__adress,
  &__phone,
  &__email {
    display: block;
    margin-bottom: 13px;
    @extend %rubik-400;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 24px;
  }
  &__nav {
    width: 200px;
    margin-right: 100px;
  }
  &__title {
    @extend %dms-700;
    color: $title;
    text-transform: uppercase;
    margin: 18px 0 26px;
    font-size: 16px;
  }
  &__item {
    margin-bottom: 11px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    color: #7b7b7b;
  }
  &__text {
    margin-bottom: 33px;
  }
  &__form-input {
    width: 170px;
    background-color: #fef7f0;
    border: none;
    padding: 8px 15px;
    &::placeholder {
      font-size: 12px;
      line-height: 12px;
      color: $title;
      @extend %dms-400;
    }
  }
  &__form-btn {
    border: none;
    font-size: 14px;
    line-height: 21px;
    background-color: #a3bbc8;
    @extend %dms-400;
    color: #fff;
    padding: 9px 17px;
    margin-left: -3px;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  &__nav  {
    display: flex;
  }
  &__item {
    padding: 0 15px;
  }
  &__link {
    @extend %rubik-400;
    color: #7b7b7b;
    transition: all 0.5s;
    &:hover {
      color: $accent;
    }
  }
}

.top-slider {
  background-color: $accent;
  &__container {
    max-width: 1430px;
    width: 100%;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 205px 115px 275px 70px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      z-index: 1;
      width: 634px;
      height: 634px;
      border-radius: 50%;
      background-image: url(../images/elips.png);
    }
  }
  &__content {
    max-width: 427px;
    width: 100%;
  }
  &__title {
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    margin-bottom: 35px;
    @extend %rubik-500;
  }
  &__text {
    max-width: 360px;
    font-size: 18px;
    line-height: 30px;
    @extend %rubik-400;
    color: #436372;
    margin-bottom: 35px;
  }
  &__link {
    display: inline-block;
    font-size: 15px;
    @extend %rubik-500;
    padding: 21px 100px 21px 19px;
    color: #fff;
    background-color: #a3bbc8;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/arrow-right.png);
      top: 26px;
      right: 20px;
      width: 22px;
      height: 9px;
    }
  }
  &__images {
    max-width: 635px;
    height: 270px;
    z-index: 5;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
    li {
      padding: 0 5px;
      line-height: 0;
      button{
        border: none;
        padding: 0;
        font-size: 11px;
        @extend %rubik-500;
        background-color: #fde3cc;
        color: #667983;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &.slick-active {
        button {
          background-color: #fff;
          color: #243f4d;
        }
      }
    }
  }
}

.about {
  padding: 45px 0;
  background-color: #fef7f0;
  &__container {
    max-width: 1470px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
  &__content {
    margin-left: 24px;
  }
  &__title {
    font-size: 18px;
    @extend %dms-700;
    margin-bottom: 10px;
    color: #414141;
  }
  &__text {
    @extend %dms-400;
    color: #585858;
    width: 213px;
  }
}

.product-week {
  padding: 75px 0;
  &__title {    
    margin-bottom: 30px;
  }
  &__filter-btn {
    text-align: center;
    margin-bottom: 75px;
  }
  &__btn {
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 21px;
    @extend %dms-700;
    color: #8b8b8b;
    cursor: pointer;
    margin-bottom: 20px;
  }
  &__btn + .product-week__btn {
    margin-left: 30px;
  }
  .mixitup-control-active {
    color: #1a1a1a;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    width: 270px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    padding: 27px 10px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 40px;
    &:hover {
      .product-week__link-box {
        transform: translateY(0);
      }
    }
  }  
  &__images {
    height: 208px;
    display: flex;
    align-items: flex-end;
  }
  &__link-box {
    position: absolute;
    bottom: 150px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    transform: translateY(500%);
    transition: all 0.4s;
  }
  &__link + .product-week__link {
    margin-left: 20px;
  }
  &__link {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    svg {
      position: absolute;
      top: 13px;
      left: 12px;
      z-index: 13;
    }
    path {
      transition: all 0.4s;
    }
    &:hover {
      color: #fff;
      background-color: #a3bbc8;   
      path {
        fill: #fff;
      }   
    }
  }
  &__content-text {
    margin-top: 60px;
  }
  &__content-title {
    font-size: 16px;
    @extend %dms-500;
    color: #243f4d;
    line-height: 21px;
    margin-bottom: 10px;    
  }
  &__price {
    color: #a3bbc8;
    @extend %dms-700;
  }
}

.lamp {
  padding: 115px 0 50px;
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item {
    background-color: #feefe2;
    padding: 85px 10px 85px 430px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 150px;
      top: -100px;
    }
    &:nth-child(1)::before {
      background-image: url(../images/lamp/mirum.png);
      width: 233px;
      height: 405px;
    }
    &:nth-child(2)::before {
      background-image: url(../images/lamp/males.png);
      width: 222px;
      height: 399px;
    }
  }
  &__title {
    font-size: 26px;
    line-height: 32px;
    @extend %dms-700;
    color: #243f4d;
    margin-bottom: 20px;
  }
  &__text {
    @extend %rubik-400;
    color: #243f4d;
    line-height: 30px;
    max-width: 328px;
    width: 100%;
    margin-bottom: 35px;
  }
  &__link {
    display: inline-block;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    font-size: 15px;
    @extend %rubik-500;
    color: #436372;
    padding: 25px 85px 25px 18px;
    background-color: rgba(36, 63, 77, 0);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/lamp/arrow-right.svg);
      width: 22px;
      height: 9px;
      top: 30px;
      right: 19px;
    }
  }
}

.design {
  margin-bottom: 120px;
  &__title {
    margin-bottom: 30px;
  }
  &__filter-btn {
    text-align: center;
    margin-bottom: 75px;
  }
  &__btn {
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 21px;
    @extend %dms-700;
    color: #8b8b8b;
    cursor: pointer;
    margin-bottom: 20px;
  }
  &__btn + .design__btn {
    margin-left: 30px;
  }
  .mixitup-control-active {
    color: #1a1a1a;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
  }
  &__item {
    max-width: 370px;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    &:nth-child(1) {
      background-image: url(../images/design/1.jpg);
    }
    &:nth-child(2) {
      background-image: url(../images/design/2.jpg);
    }
    &:nth-child(3) {
      background-image: url(../images/design/3.jpg);
    }
    &:nth-child(4) {
      background-image: url(../images/design/4.jpg);
    }
    &:nth-child(5) {
      background-image: url(../images/design/5.jpg);
    }
    &:nth-child(6) {
      background-image: url(../images/design/6.jpg);
    }
  }
  &__content-title {
    margin-top: 40px;
    margin-left: 35px;
    font-size: 20px;
    line-height: 24px;
    @extend %dms-700;
    color: rgb(26, 26, 26);
    width: 172px;
    margin-bottom: 15px;
  }
  &__text {
    @extend %dms-700;
    color: #a3bbc8;
    margin-left: 35px;
  }
}

.video-popup {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.articles {
  &__box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 300px;
  }
  &__link {
    display: inline-block;
    @extend %dms-700;
    font-size: 16px;
    color: #262626;
    padding-right: 25px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/article-arrow.svg);
      width: 6px;
      height: 11px;
      right: 0;
      top: 5px;
    }
  }
  &__inner{
    background-color: #fef7f0;
  }
  &__inners {    
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    position: relative;
    &::before {
      content: "NEWS";
      position: absolute;
      top: -17px;
      left: 28px;
      background-color: #a3bbc8;
      color: #fff;
      font-size: 14px;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      padding: 7px 30px;
      border-radius: 15px;
    }
  }
  &__images {
    max-width: 370px;
    width: 100%;
    height: 250px;
    margin-top: -250px;
  }
  &__items {
    padding: 30px 30px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__item-title {
    font-size: 18px;
    @extend %dms-500;
    color: #262626;
    margin-bottom: 20px;
  }
  &__item-box {
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
  }
  &__link-data,
  &__link-autor {
    font-size: 12px;
    padding-left: 12px;
    @extend %rubik-400;
    color: #222933;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/articles/img.svg);
      width: 6px;
      height: 9px;
      left: 0;
      bottom: 3px;
    }
  }
  &__link-data {
    margin-right: 30px;
  }
}

.partners {
  background-color: #fef7f0;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 90px 0 60px 0;
  }
  &__images {
    margin: 0 15px 30px 15px;
  }
}

.top {
  padding: 24px 0 30px;
  background-color: #edf1f4;
  text-align: center;
  &__title {
    font-size: 36px;
    color: #222933;
    margin-bottom: 11px;
    @extend %rubik-400;
  }
}

.mission {
  padding: 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__img {
    max-width: 570px;
    background-size: cover;
  }
  &__content {
    margin-left: 50px;
    color: #243f4d;
    display: flex;
    flex-direction: column;
    justify-content: center;    
  }
  &__box {
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
  }
  &__box-num {
    font-size: 140px;
    line-height: 120px;
    @extend %rubik-700;
    color: #a3bbc8;
    margin-right: 30px;
  }
  &__box-text {
    line-height: 30px;
    @extend %rubik-400;
    margin-bottom: 3px;    
    span {
      display: block;
    }
  }
  &__title {
    text-align: left;
    margin-bottom: 50px;
  }
  &__text {
    @extend %rubik-400;
    line-height: 30px;
    padding-bottom: 60px;
    border-bottom: 3px solid rgb(9, 49, 111, 0.1);
    margin-bottom: 40px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 200px;
    padding-left: 60px;
    @extend %dms-700;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(1) {
      &::before {
        background-image: url(../images/icons/projects-icon.svg);
        width: 36px;
        height: 38px;
      }
    }
    &:nth-child(2) {
      &::before {
        background-image: url(../images/icons/revenue-icon.svg);
        width: 43px;
        height: 39px;
      }
    }
    &:nth-child(3) {
      &::before {
        background-image: url(../images/icons/award-icon.svg);
        width: 42px;
        height: 40px;
      }
    }
  }
  &__item-num {
  font-size: 36px;
  }
  &__item-text {
    color: #4c4c4c;
  }
}

.about-us {
  padding: 96px 0 84px;
  background-color: #fcd7b6;
  &__items {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #243f4d;
    @extend %dms-700;
    text-align: center;
  }
  &__images {
    display: block;
    margin-bottom: 20px;
  }
  &__num {
    margin-bottom: 23px;
    font-size: 36px;
    line-height: 32px;   
  }
  &__text {
    font-size: 18px;
    line-height: 32px;
    @extend %dms-700;
  }
}

.teams {
  padding: 120px 0 190px;
  &__inner {
    display: flex;
  }
  &__content {
    width: 300px;
    margin-right: 100px;
  }
  &__title {
    text-align: left;
    margin-bottom: 35px;
  }
  &__text {
    color: #243f4d;
    @extend %rubik-400;
    line-height: 30px;
    margin-bottom: 35px;
  }
  &__link {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    background-color: #a3bbc8;
    padding: 18px 60px 18px 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/arrows.svg);
      width: 15px;
      height: 11px;
      top: 21px;
      right: 26px;
    }
    &:hover {
      background-color: #657d8a;
    }
  }
  &__box {
    display: grid;
    grid-template-columns: repeat(2, 370px);
    grid-gap: 100px 30px;
  }
  &__box-item {
    position: relative;
  }
  &__item {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 320px;
    padding: 25px 30px 30px 25px;
    background-color: #fff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  &__box-name {
    font-size: 22px;
    line-height: 26px;
    @extend %dms-700;
    color: #436372;
    margin-bottom: 20px;
  }
  &__box-post {
    @extend %rubik-400;
    color: #565872;
  }
  &__item-social {
    display: flex;
    margin-top: 15px;
  }
  &__social-link {
    display: inline-block;
  }
  &__social-link + .teams__social-link {
    margin-left: 7px;
  }
}

.modal {
  padding: 120px 0;
  max-width: 470px;
  margin: 0 auto;
  &__label {
    display: block;
    margin-bottom: 27px;
    font-size: 14px;
    @extend %rubik-400;
    color: #436372;
  }
  &__input {
    display: block;
    width: 100%;
    border: 2px solid #f6f6f6;
    background-color: #fff;
    margin-top: 10px;
    padding: 0 15px;
    height: 56px;
  }
  &__btn {
    border: none;
    background-color: #a3bbc8;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    @extend %rubik-400;
    padding: 19px 5px;
    margin: 35px 0;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f6f6f6;
    margin-bottom: 30px;
  }
  &__error {
    font-size: 14px;
    @extend %rubik-400;
    color: #436372;
  }
  &__registr {
    text-align: center;
    font-size: 14px;
    @extend %rubik-400;
    color: #436372;
    margin-bottom: 25px;
  }
  &__registr-link {
    display: block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border: 2px solid #a3bbc8;
    font-size: 18px;
    @extend %rubik-400;
    color: #243f4d;
  }
}

.information {
  padding: 120px 0;
  &__title {
    color: #243f4d;
    font-size: 24px;
    line-height: 30px;
    @extend %rubik-500;
    margin-bottom: 26px;
  }
  &__text {
    @extend %rubik-400;
    color: #243f4d;
    line-height: 30px;
    margin-bottom: 50px;
  }
  &__list {
    margin-bottom: 50px;
    list-style: none;
    counter-reset: my-counter;
  }
  &__list-item {
    counter-increment: my-counter;
    @extend %rubik-400;
    color: #243f4d;
    line-height: 30px;
    padding-left: 40px;
    margin-bottom: 25px;
    position: relative;
    &::before {
      content: '0' counter(my-counter) '.';
      position: absolute;
      left: 4px;
    }
    &:nth-child(n+10) {
      &::before {
      content: '' counter(my-counter) '.';
    }
    }
  }
}

.product {
  padding: 120px 0;
  &__inner {
    display: flex;
  }
}

.product-filter {
  flex: 0 0 270px;
  margin-right: 30px;
  &__item {  
    margin-bottom: 60px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__button {
    display: none;
  }
  &__title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    @extend %dms-700;
    color: #243f4d;
    margin-bottom: 30px;
    padding-right: 55px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 39px;
      height: 3px;
      background-color: #a3bbc8;
      top: 9px;
      right: 0;
    }
  }
}  

.filter-category {
  &__label {
    display: block;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox {
      background-color: rgba(163, 187, 200, 0.2);
    }
  }
  &__checkbox {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    height: 43px;
    @extend %rubik-400;
    color: #243f4d;
    padding: 0 22px 0 15px;
  }
}

.filter-price {
  &__label {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    @extend %rubik-400;
  }
}

.irs--flat .irs-line {
  top: 5px;
  height: 3px;
  background-color: rgba(163, 187, 200, 0.7);
  border-radius: 0;
}

.irs--flat .irs-bar {
  top: 5px;
  height: 4px;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle>i:first-child {
  top: -23px;
  left: 0;
  width: 15px;
  height: 15px;
  margin-left: 0;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle.state_hover>i:first-child,
.irs--flat .irs-handle:hover>i:first-child {
  background-color: #a3bbc8;
}

.irs-from, .irs-to, .irs-single {
  display: none;
}

.irs--flat .irs-min, .irs--flat .irs-max {
  display: none;
}

.irs--flat {
  height: 33px;
}

.filter-brand {
  &__label {
    display: block;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox {
      background-color: rgba(163, 187, 200, 0.2);
      .filter-brand__checkbox-number {
        color: #243f4d;
      }
    }
  }
  &__checkbox {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    height: 43px;
    @extend %rubik-400;
    color: #243f4d;
    padding: 0 22px 0 15px;
  }
  &__checkbox-number {
    color: #b3b3b3;
  }
}

.filter-recent {
  &__item {
    display: flex;
    margin-bottom: 30px;
  }
  &__img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333;
    @extend %rubik-400;
    line-height: 22px;
  }
  &__content-title {
    font-size: 14px;
    margin-bottom: 10px;
  }
  &__content-price {
    font-size: 15px;
    margin-top: 10px;
  }
}

.product-catalog {
  &__inner{
    max-width: 870px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 108px;
  }
}

.pagination {
  display: flex;
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px 0 0;
  }
  &__list--2 {
    justify-content: start;
  }
  &__item {
    margin: 0 7px;
  }
  &__link {
    display: block;
    padding: 0 21px;
    border: 1px solid #a3bbc8;
    font-size: 16px;
    line-height: 48px;
    @extend %rubik-400;
    color: #243f4d;
    transition: all 0.5s;
    &:hover {
      color: #fff;
      background-color: #a3bbc8;
    }
  }
  &__link--active {
    color: #fff;
    background-color: #a3bbc8;
  }
  &__link--dezactive {
    display: none;
  }
}

.catalog-list {
  &__inner {
    margin-bottom: 75px;
  }  
  &__item {
    display: flex;
    margin-bottom: 40px;
  }
  &__images {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 370px;
    width: 100%;
    height: 500px;
    border: 2px solid #f2f2f2;
    background-color: #fefefe;
    margin-right: 55px;
  }
  &__img {
    min-width: 320px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__content-title {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 25px;
    @extend %rubik-400;
    color: #333;
  }
  &__price {
    margin-top: 35px;
    @extend %rubik-400;
    color: #333;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 30px;
  }
  &__text {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 20px;
  }
  &__social {
    display: flex;
  }
  &__social-link {
    padding: 13px 14px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    transition: all 0.7s;
    &:first-child {
      background-color: #a3bac7;
      transition: all 0.6s;
      &::before {
        content: "Add to cart";
        font-size: 15px;
        text-transform: uppercase;
        color: #fff;
        line-height: 28px;
        @extend %rubik-400;
        border-radius: 5px;
        padding: 0 36px;
        display: none;
        
      }
      &:hover {
        &::before {
          display: block;
        }
        svg {
          display: none;
        }
      }
    }
    &:last-child {
      background-color: #fff;
      &:hover {
        background-color: #a3bac7;
        path {
          fill: #fff;
        }
      }
    }
  }
  &__social-link + .catalog-list__social-link {
    margin-left: 11px;
  }
}

.related {
  padding: 120px 0;
  &__title {
    text-align: left;
    margin-bottom: 70px;
  }
  .slick-btn {
    position: absolute;
    top: -99px;
    padding: 18px 12px;
    border: 2px solid rgba(163, 187, 200, 0.2);
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.5s;
    cursor: pointer;
    &:hover {
      border-color: rgb(163, 187, 200);
    }
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    right: 70px;
  }
}

.detalis {
  padding-top: 120px;
}

.detalis-one {
  &__item {
    display: flex;
  }  
  &__content {
    max-width: 550px;
    width: 100%;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    font-size: 40px;
    @extend %rubik-400;
    margin-bottom: 20px;
    color: #333;
  }
  &__price {
    font-size: 30px;
    @extend %rubik-400;
    margin-top: 30px;
    color: #333;
    margin-bottom: 25px;
  }
  &__text {
    color: #243f4d;
    line-height: 30px;
    @extend %rubik-400;
    margin-bottom: 30px;
  }
  &__box {
    margin-bottom: 50px;
  }
  &__list-item:not(:last-child) {
    margin-bottom: 12px;
  }
  &__list-title,
  &__list-link {
    font-size: 16px;
    @extend %rubik-400;
    color: #243f4d;
  }
  &__btn {
    background-color: #a3bbc8;
    text-transform: uppercase;
    color: #fff;
    padding: 17px 57px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    @extend %rubik-400;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      background-color: #6f9bb3;
    }
  }
  &__item-num {
    width: 148px;
    height: 53px;
    border: none;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 53px;
      background-color: #a3bbc8;
      top: 0;
      right: 48px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 53px;
      background-color: #a3bbc8;
      top: 0;
      left: 48px;
    }
  }
}

.jq-number__field input {
  text-align: center;
  color: #333;
  font-size: 15px;
  @extend %rubik-400;
  border: 1px solid #a3bbc8;
  background-color: transparent;
}

.jq-number__spin {
  position: absolute;
  top: 0;
  background-color: transparent;
  width: 48px;
  height: 51px;
  cursor: pointer;
  &::after {
    position: absolute;
    color: #333;
    font-size: 15px;
    @extend %rubik-400;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
  }
}

.jq-number__spin.minus {
  left: 0px;
  &::after {
    content: "-";
  }
}

.jq-number__spin.plus {
  right: 0px;
  &::after {
    content: "+";
  }
}

.detalis-slide {
  display: flex;
  max-width: 550px;
  width: 100%;
  &__min {
    width: 134px;
    margin-right: 25px;
  }
  &__min-item {
    margin-bottom: 25px;
    width: 134px;
    height: 156px;   
    img {
      width: 134px;
      height: 156px;
      object-fit: cover;
      border: 2px solid #f2f2f2;
    }
  }
  &__max {
    width: 383px;
  }
  &__max-item {
    width: 383px;
    height: 526px;    
    img {
      width: 383px;
      height: 526px;
      object-fit: contain;
      border: 2px solid #f2f2f2;
    }   
  }
}

.detalis-tabs {
  padding-top: 100px;
  &__top {
    text-align: center;
    margin-bottom: 35px;
  }
  &__top-item:not(:last-child) {
    margin-right: 13px;
    margin-bottom: 10px;
  }
  &__top-item {
    display: inline-block;
    background-color: #edf1f4;
    width: 241px;
    height: 53px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    line-height: 53px;
    @extend %rubik-500;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.5s;
    color: #243f4d;
    &:hover {
      background-color: #a3bbc8;
      color: #fff;
    }
  }
  &__top-item--active {
    background-color: #a3bbc8;
    color: #fff;    
  }
  &__content-item {
    display: none;
    &.detalis-tabs__content-item--active {
      display: block;
    }
  }
  &__content-text {
    color: #243f4d;
    line-height: 30px;
    @extend %rubik-400;
  }
}

.blog {
  padding: 120px 0;
  &__inner {
    display: flex;
    margin-bottom: 76px;
  }  
}

.blog-content {
  order: -1;
  max-width: 830px;
  margin-right: 70px;
  &__item {
    margin-bottom: 50px;
  }
  &__item-images {
    position: relative;
    margin-bottom: 40px;
  }
  &__item-box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 275px;
    height: 71px;
    background-color: #a3bbc8;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @extend %rubik-400;
  }
  &__item-data,
  &__item-auutor {
    padding-left: 19px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 12px;
      height: 13px;
    }
  }
  &__item-data {
    &::before {
      background-image: url(../images/icons/calendar-w.svg);
    }
  }
  &__item-auutor {
    &::before {
      background-image: url(../images/icons/user.svg);
    }
  }
  &__title {
    margin-bottom: 40px;
    font-size: 36px;
    color: #333;
    @extend %rubik-400;
  }
  &__text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    @extend %rubik-400;
  }
  &__link {
    display: inline-block;
    padding: 22px 85px 22px 19px;
    background-color: transparent;
    border: 1px solid #a3bbc8;
    color: #a3bbc8;
    font-size: 15px;
    @extend %nunito-700;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 19px;
      background-image: url(../images/icons/slider-arrow-right.svg);
      width: 22px;
      height: 9px;
    }
  }
  &__text {
    h2 {
      font-size: 36px;
      line-height: 46px;
      margin-bottom: 20px;
      @extend %rubik-400;
      color: #333;
    }
    h6 {
      margin-bottom: 20px;
      @extend %rubik-500;
      color: #243f4d;
      font-size: 16px;
    }
    p {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 30px;
      @extend %rubik-400;
      color: #243f4d;
    }
    blockquote {
      background-color: #edf1f4;
      @extend %rubik-400;
      color: #243f4d;
      font-size: 16px;
      line-height: 30px;
      margin: 45px 0;
      padding: 25px 40px;
      border-left: 7px solid #a3bbc8;
      span {
        display: block;
        padding-left: 45px;
        margin-top: 15px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 4px;
          background-color: #a3bbc8;
          left: 3px;
          top: 13px;
        }
      }
    }
  }
  &__flex {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &__box {
    padding: 25px 0;
    margin-bottom: 60px;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__box-author {
    display: flex;
    align-items: center;
  }
  &__box-img {
    width: 76px;
    height: 76px;
    margin-right: 30px;
    object-fit: cover;
  }
  &__box-name {
    @extend %rubik-500;
    font-size: 18px;
    color: #333;
    margin-bottom: 17px;
  }
  &__box-work {
    @extend %rubik-400;
    font-size: 16px;
    color: #666;
  }
  &__box-tags {
    width: 210px;
    text-align: left
  }
  &__box-tag,
  &__box-share {
    span {
      @extend %rubik-400;
      font-size: 16px;
      color: #333;
      margin-right: 20px;
    }    
  }
  &__box-tag {
    margin-bottom: 15px;
    margin-right: 25px;
  }
  &__tag-link {
    color: #a1a1a1;
  }
  &__share-link {
    & + .blog-content__share-link {
      margin-left: 15px;
    }
    &:hover {
      path {
        fill: #a3bbc8;
      }
    }
  }
}

.commets {
  margin-bottom: 90px;
  &__title {
    font-size: 24px;
    @extend %rubik-700;
    color: #436372;
    margin-bottom: 50px;
  }
  &__item {
    display: flex;
    margin-bottom: 30px;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: 30px;
    }
  }
  &__item--answer {
    margin-left: 130px;
    padding-top: 30px;
    border-top: 1px solid #e0e0e0;
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__name {
    font-size: 16px;
    @extend %rubik-700;
    color: #436372;
  }
  &__date {
    font-size: 14px;
    @extend %rubik-400;
    color: #9e9e9e;
  }
  &__text {
    color: #565872;
    @extend %rubik-400;
    line-height: 30px;
    margin-bottom: 20px;
  }
  &__link {
    display: inline-block;
    color: #565872;
    @extend %rubik-400;
    margin-bottom: 14px;
    padding-right: 20px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 5px;
      background-image: url(../images/icons/right-arrow.svg);
      width: 12px;
      height: 12px;
    }
  }
}

.blog-filter {
  max-width: 270px;
  width: 100%;
  &__item:not(:last-child) {
    margin-bottom: 50px;
  }
}

.filter-search {
  position: relative;
  &__input {
    width: 270px;
    height: 43px;
    border: 1px solid #ebf1f3;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px 40px 5px 15px;    
  }
  &__btn {
    position: absolute;
    border: none;
    background-color: #edf1f4;
    border-radius: 5px;
    width: 48px;
    height: 43px;
    top: 0;
    right: 0;
  }
}

.filter-recent {
  &__item {
    display: flex;
    img {
      width: 71px;
      height: 71px;
    }
  }
  &__box {
    margin-left: 20px;
  }
  &__title {
    font-size: 14px;
    line-height: 20px;
    color: #333;
    @extend %rubik-400;
    margin-bottom: 10px;
  }
  &__data {
    font-size: 12px;
    @extend %rubik-400;
    color: #9a9a9a;
    padding-left: 19px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 12px;
      height: 13px;
      background-image: url(../images/icons/calendar.svg);
      top: 0;
      left: 0;
    }
  }
}

.blog-form {
  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__input-text,
  &__input-email {
    margin-bottom: 20px;
    max-width: 400px;
    width: 100%;
    height: 48px;
    padding: 10px 50px 10px 19px;
    border: 1px solid #e5e5e5;
    background-color: transparent;
    color: #333;
    position: relative;
    outline-color: #a3bbc8;
    &::placeholder {
      @extend %rubik-400;
      color: #999;
      font-size: 16px;
    }
  }
  &__textarea {
    width: 100%;
    height: 118px;
    resize: none;
    margin-bottom: 40px;
    padding: 10px 50px 10px 19px;
    border: 1px solid #e5e5e5;
    background-color: transparent;
    color: #333;
    outline-color: #a3bbc8;
    position: relative;
    &::placeholder {
      @extend %rubik-400;
      color: #999;
      font-size: 16px;
    }
    background: url(../images/icons/form-text-icon.svg) no-repeat 98% 9%;
  }
  &__btn {
    background-color: #a3bbc8;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 10px 35px;
    height: 50px;
    font-size: 14px;
    @extend %rubik-400;
    cursor: pointer;
  }
  &__input-email {
    background: url(../images/icons/form-email-icon.svg) no-repeat 97% center;
  }
  &__input-text {
    background: url(../images/icons/form-name-icon.svg) no-repeat 97% center;
  }
}

.contacts {
  padding: 120px 0;
  &__subtitle {
    color: #a3bbc8;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
  }
  &__title {
    margin-bottom: 70px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
  }
  &__item {
    padding: 70px 15px 70px;
    max-width: 370px;
    width: 100%;
    background-color: #fbfbfb;
    text-align: center;
    transition: all 0.5s;
    border: 2px solid transparent;
    &:hover {
      border: 2px solid #a3bbc8;
      path {
        fill: #fff;
      }
      .contacts__item-img {
        background-color: #a3bbc8;
      }
    }
  }
  &__item-img {
    width: 80px;
    height: 81px;
    border-radius: 20px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 60px;
    transition: all 0.5s;
  }
  &__item-title {
    color: #222;
    font-size: 20px;
    @extend %dms-700;
    margin-bottom: 20px;
  }
  &__item-address {
    color: #565872;
    font-size: 16px;
    line-height: 30px;
    width: 170px;
    @extend %rubik-400;
    margin: 0 auto;
    font-style: normal;
  }
  &__item-mail,
  &__item-phone {
    color: #565872;
    @extend %rubik-400;
  }
  &__mail,
  &__phone {
    display: inline-block;
    color: #565872;
    @extend %rubik-400;
    margin-bottom: 10px;
  }
  &__inner {
    display: flex;
  }
  &__form {
    max-width: 620px;
    width: 100%;
    margin-right: 50px;
  }
  &__box {
    display: flex;
    margin-bottom: 25px;
  }
  &__input-text {
    margin-right: 20px;
  }
  &__input-text,
  &__input-email,
  &__textarea {
    border: none;
    background-color: #fafafa;   
    padding: 10px 20px;
    &::placeholder {
      color: #565872;
      font-size: 16px;
      @extend %rubik-400;
    }
  }
  &__input-text,
  &__input-email {
    width: 300px;
    height: 50px;
  }
  &__input-email {
    background-image: url(../images/icons/form-email-icon.svg);
    background-repeat: no-repeat;
    background-position: 270px 16px;
  }
  &__input-text {
    background-image: url(../images/icons/form-name-icon.svg);
    background-repeat: no-repeat;
    background-position: 270px 16px;
  }
  &__textarea {
    width: 100%;
    height: 175px;
    resize: none;
    margin-bottom: 30px;
    background-image: url(../images/icons/form-text-icon.svg);
    background-repeat: no-repeat;
    background-position: 590px 16px;
  }
  &__btn {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #a3bbc8;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    @extend %rubik-400;
  }
  &__cart {
    width: 520px;
  }
}
























@import 'media';
